.articles_container {
  background-color: #f4f8ff;
  padding: 20px 40px;
}

.articles_wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.articles_block_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles_wrap {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
.articles_wrap {
  flex-direction: column;
}

.articles_container {
  padding: 20px;
}
}

@media screen and (max-width: 576px) {
}
