.btn {
    font-family: Car;
    padding: 15px 40px;
    border: none;
    background-color: var(--yellow);
    color: var(--blue);
    font-family: var(--font-headers);
    font-size: 17px;
    cursor: pointer;
    border: 1px solid var(--yellow);
    transition: all 0.4s ease;
  }
  
  .btn:hover {
    background-color: var(--blue);
    color: var(--yellow);
  }
  