.main_container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.main_container h1 {
  color: var(--blue);
  font-size: 45px;
  margin-bottom: 50px;
}

.main img {
  max-width: 300px;
}

.main_container a {
  font-family: Car;
  padding: 15px 40px;
  border: none;
  background-color: var(--yellow);
  color: var(--blue);
  font-family: var(--font-headers);
  font-size: 17px;
  cursor: pointer;
  border: 1px solid var(--yellow);
  transition: all 0.4s ease;
  text-decoration: none;
}

.main_container a:hover {
  background-color: var(--blue);
  color: var(--yellow);
}
